doctype html
html
	head
		meta(charset='utf-8')
		title App
		link(rel='stylesheet', href='style.css')
		script(src='lib/flot-0.8.3/jquery.min.js')
		script(src='lib/flot-0.8.3/jquery.flot.min.js')
		script(src='lib/flot-0.8.3/jquery.flot.threshold.min.js')
		script(src='lib/flot-0.8.3/jquery.flot.curvedLines.js')
		script(src='lib/flot-0.8.3/jquery.flot.tooltip.min.js')
		script(src='lib/flot-0.8.3/jquery.flot.dashes.js')
	body
		#mount
		script(src='app.js')
